
*.pper
.Rproj.user*
.Rhistory
.Rproj.user/F05D3B92/rmd-outputs
.Rproj.user/F05D3B92/sources/prop/0658DA12
.Rproj.user/F05D3B92/saved_source_markers
.Rproj.user/F05D3B92/sources/prop/083564F9
SCA_tests.R
BSSprep_0.1.tar.gz
Civa_test.R
CIVA_notes.txt
CIVA_dat_emtpy.Rdata
CIVA_dat_emtpyCIVA.Rdata
CIVA_dat_emtpyPinfo.Rdata
